<!-- Contains Head, CDNs and NavBar Quick access buttons -->
<%- include('partials/head.ejs') %>
<div class="container mb-4">
  <div class="row">
    <div class="col-md-6">
      <img src="<%= dish.imgURL %> " alt="<%= dish.dish %>" class="img-fluid" />
    </div>
    <div class="col-md-6">
      <div class="row">
        <p class="fw-lighter"><%= dish.restaurant %></p>
      </div>
      <div class="row">
        <div class="col-10">
          <h1><%= (dish.dish).toUpperCase() %></h1>
        </div>
        <div class="col-2">
          <form action="/foodBucket/<%= dish._id %>/edit" method="get">
            <button type="submit" class="btn btn-outline-success edit" title="Edit">
              <i class="bi bi-pencil-square"></i>
            </button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col mb-2">
          <h6>Price: $<%= dish.price %></h6>
        </div>
      </div>
      <div class="row">
        <h5>Location</h5>
        <p>
          <span class="d-block"><%= dish.address %>,</span>
          <span class="d-block"
            ><%= dish.city %>, <%= dish.province %> <%= dish.country %></span
          >
          <span class="d-block"><%= dish.postalCode %></span>
          <a href="<%= dish.websites %>" target="_blank">Website</a>
        </p>
      </div>
      <div class="row">
        <hr>
        <h5>Description</h5>
            <% if(dish.description){ %>
                <p class="fw-light"><%= dish.description %> </p>
              <% } else{ %>  
                <p>N/A</p>
             <% } %>
        </p>
      </div>
      <div class="row mb-3">
        <hr>
        <h5 class="mb-3">Tags</h5>
        <div class="hstack gap-3 d-flex flex-wrap">
          <% for(let category of dish.category) {%>
          <div class="row border rounded mx-1 categories">
            <div><%= category %></div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <div class="row">
    <hr>
      <!-- Form for review -->
      <form action="/foodBucket/<%=dish._id%>/review" method="post" class="mb-3 mt-3 needs-validation" novalidate>
        <h5 class="mb-3"> Leave a Review</h5>
        <div class="form-group d-flex justify-content-between">
          <label for="rating"> How would you rate your experience?</label>
          <select class="form-control w-25" id="rating" name="rating" required>
            <option value="1">1 - Bad</option>
            <option value="2">2 - Okay</option>
            <option value="3">3 - Good</option>
            <option value="4">4 - Very Good</option>
            <option value="5" selected>5 - Excellent</option>
          </select>
        </div>
        <div class="form-group">
          <label for="comment" class="mb-1">Describe how delicious <%= dish.dish %> was: </label>
          <textarea class="form-control" id="comment" rows="3" name="comment" required></textarea>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please share your experience.
          </div>
        </div>
        <div class="mt-3">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>
<%if(dish.reviews.length){%>
  <section id="review-section" class="my-3">
    <div class="review-head">
      <h2 class="p-3">Reviews</h2>
    </div>
    <div class="container">
      <div class="d-flex flex-wrap justify-content-center">
        <% for(review of dish.reviews){ %>
          <div class ="review-card m-3 p-2 col-sm-12 col-lg-5">
            <div class="review-header p-2">
              <%= star[review.rating] %> 
            </div>
            <div class="review-body p-2">
              <%= review.comment %> 
            <footer class="blockquote-footer mt-2"> <%= review.date %> </footer>
            </div>
            <div class="d-flex justify-content-end review-card-delete">
              <form action="/foodBucket/<%= dish._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-outline-dark"><i class="bi bi-trash"></i></button>
              </form>
            </div>
          </div>
         <%}%>
      </div>
    </div>
    
  </section>
<%}%>
<!-- Client Side Validation for Reviews Form -->
<script>
  (function () {
  'use strict'
  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
        form.classList.add('was-validated')
      }, false)
    })
})()
</script>