<!-- Contains Head, CDNs and NavBar -->
<%- include('partials/head.ejs') %>
<!-- Feed Starts -->
    <div class="container my-4">
      <!-- Dish Display Cards -->
      <section>
        <div class="row">
          <% for(let dish of dishes){%>
          <div class="col-5 card mx-auto mx-md-4 mx-lg-3 my-2 p-0"> 
            <img
              src="<%=dish.imgURL%>"
              alt="<%= dish.dish %>"
              class="card-img-top m-0 h-75" 
              style="object-fit: cover;"
            />
            <div class="card-body text-center">
              <div class="card-title fs-5"><%= dish.dish %></div>
              <p class="card-text">
                <span class="fw-semibold d-block fs-6"
                  ><%=dish.restaurant%></span
                >
                <span class="fw-lighter"
                  ><%= `${dish.city}, ${dish.country}` %></span
                >
              </p>
              <form action="/foodBucket/<%=dish.id%>" method="get">
                <button class="btn btn-primary px-3" type="submit">More</button>
              </form>
            </div>
          </div>
          <% } %>
        </div>
      </section>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
